#img {
    height: 500px;
    width: 900px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#controls {
    height: 500px;
    width: 300px;
    float: left;
}

#sessions {
    float: left;
    padding-right: 100px;
    padding-left: 20px;
}

#new_session_form {
    float: left;
}

form {
    font: 15px 'trebuchet MS', 'lucida sans';
}

table, th, td {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
    font: 15px 'trebuchet MS', 'lucida sans';
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 14pt;
}

h2 {
    text-align: center;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}


.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}