<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div id="admin_section_wrapper">
            <div id="sessions">
                <h3>Список сессий</h3>
                <ol class="rounded-list">
                    {% for session in sessions %}
                        <a href="/session/{{ session.id }}"><li>{{ session.name }}</li></a>
                    {% endfor %}
                </ol>
            </div>
            <div id="vl"></div>
            <div id="new_session_form">
                <h3>Создать новую сессию</h3>
                <form method="POST" name="new_sess">
                    Имя сессии:<br>
                    <input type="text" name="sess_name" required><br>
                    Кол-во тестовых "комнат":<br>
                    <input type="text" name="sess_chamber_count" maxlength="2" size="4" required> <span id="max-count-tip"> max = {{ max_chambers }} </span><br>
                    Задержка при смене изображения(мс):<br>
                    <input type="text" name="sess_swap_delay" maxlength="4" size="4" required><br>
                    Интервал случайного срабатывания подмены(сек): от <input type="text" name="sess_swap_start" maxlength="2" size="3" required> до
                    <input type="text" name="sess_swap_end" maxlength="2" size="3" required><br>
                    <input type="submit", value="Создать сессию">
                </form>
                <input type="button" onclick="load_imgs()" value="Синхронизировать базу лиц">
            </div>
        </div>
        <script>
            function load_imgs() {
                $.ajax({ url: "/admin/load_imgs", success: function() {
                        alert('Синхронизировано...или нет...');
                    }
                });
            }
        </script>
    </body>
</html>